<!DOCTYPE html>
<html>
  <head>
    <title>Content Creator</title>
    <link rel="stylesheet" href ="style.css">
	<script src="/static/deleteContent.js"></script>
  </head>
  <body>

    <div class="location-create">
        <form action="/contentcreator/location" method="post">
			<h3 class="form-header">Create a Location</h3>
			<label for="locationName">Location Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="locationName" name="locationName" placeholder="Location Name" required>
			<br/>
			<button class="form-submit" type="submit">Create Location</button>
		</form>
    </div>
	<br/>
	<div class="quest-create">
        <form action="/contentcreator/quest" method="post">
			<h3 class="form-header">Create a Quest</h3>
			<label for="questName">Quest Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="questName" name="questName" placeholder="Quest Name" required>
			<br/>
			<label for="questLocation">Location of Quest<span class="required">*</span></label>
			<br/>
            <select name = "questLocation">
			<option value="NULL">NULL</option>
			<!--list each Location from database-->
			{{#each locations}}
			<option value="{{locationID}}">{{locationName}}</option>
			{{/each}}
			</select>
			<br/>
			<label for="statRequired">Stat Type Required to Complete</label>
			<br/>
			<select name = "statRequired">
				<option value = "playerHealth" selected>Health</option>
				<option value = "playerMagic">Magic</option>
				<option value = "strengthStat">Strength</option>
				<option value = "intelligenceStat" selected>Intelligence</option>
				<option value = "defenceStat">Defence</option>
			</select>
			<br/>
			<label for="statMinimum">Stat Amount Required to Complete</label>
			<br/>
            <input type="number" id="statMinimum" name="statMinimum" placeholder="0">
			<br/>
			<button class="form-submit" type="submit">Create Quest</button>
		</form>
    </div>
	<br/>
	<div class="item-create">
        <form action="/contentcreator/item" method="post">
			<h3 class="form-header">Create an Item</h3>
			<label for="itemName">Item Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="itemName" name="itemName" placeholder="Item Name" required>
			<br/>
			<label for="questRewardedFrom">Quest Rewarded From<span class="required">*</span></label>
			<br/>
            <select name = "questRewardedFrom">
			<option value="NULL">NULL</option>
			<!--list each Quest from database-->
			{{#each quests}}
			<option value="{{questID}}">{{questName}}</option>
			{{/each}}
			</select>
			<br/>
			<label for="statBoosted">Stat Type Boosted</label>
			<br/>
			<select name = "statBoosted" id="statBoosted">
				<option value = "playerHealth" selected>Health</option>
				<option value = "playerMagic">Magic</option>
				<option value = "strengthStat">Strength</option>
				<option value = "intelligenceStat" selected>Intelligence</option>
				<option value = "defenceStat">Defence</option>
			</select>
			<br/>
			<label for="statBoostAmount">Stat Boost Amount</label>
			<br/>
            <input type="number" id="statBoostAmount" name="statBoostAmount" placeholder="0">
			<br/>
			<button class="form-submit" type="submit">Create Item</button>
		</form>
    </div>
	<br/>
	<div class="location-delete">
			<h3 class="form-header">Delete a Location</h3>
			<p class="warning-text">Deleting a location will change the location of all players and quests currently at the location to NULL. Players and quests will have to have new location values set. This data cannot be retrieved once deleted.</p>
			<label for="locationDelete">Location Name<span class="required">*</span></label>
			<select id = "locationDelete" name="locationDelete">
			<!--list each Location from database-->
			{{#each locations}}
			<option value="{{locationID}}">{{locationName}}</option>
			{{/each}}
			</select>
			<br/>
			<button onclick="deleteLocation()">Delete</button>
	</div>
	<div class="quest-delete">
			<h3 class="form-header">Delete a Quest</h3>
			<p class="warning-text">Deleting a quest will set it to NULL for any player who is currently on the quest and the item rewarded from the quest. Players and items will have to have new quests set. This data cannot be retrieved once deleted.</p>
			<label for="questDelete">Quest Name<span class="required">*</span></label>
			<select id = "questDelete" name="questDelete">
			<!--list each Quest from database-->
			{{#each quests}}
			<option value="{{questID}}">{{questName}}</option>
			{{/each}}
			</select>
			<br/>
			<button onclick="deleteQuest()">Delete</button>
	</div>
	<div class="item-delete">
			<h3 class="form-header">Delete an Item</h3>
			<p class="warning-text">Deleting an item will remove it from the quest it is rewarded from and any player's inventory. Players and items will have to have new quests set. This data cannot be retrieved once deleted.</p>
			<label for="itemDelete">Item Name<span class="required">*</span></label>
			<select id = "itemDelete" name="itemDelete">
			<!--list each Item from database-->
			{{#each items}}
			<option value="{{itemID}}">{{itemName}}</option>
			{{/each}}
			</select>
			<br/>
			<button onclick="deleteItem()">Delete</button>
	</div>
  </body>
</html>