<!DOCTYPE html>
<html>
  <head>
    <title>Players</title>
  </head>
  <body>
	<p class="message-text">{{message}}</p>
    <div class="player-create">
        <form action='/playermanager' method="post">
			<h3 class="form-header">Create a Player</h3>
			<p class="form-text">Create a new player with the default starting stats</p>
			<label for="player-name">Player Name<span class="required">*</span></label>
			<input type="text" id="playerName" name="playerName" placeholder="Name" required>
			<br/>
			<input type="submit" value="Submit">
		</form>
    </div>

	<br/>
	<div class="player-delete">
			<h3 class="form-header">Delete a Player</h3>
			<p class="warning-text">Deleting a player will remove all player data including records of what items the player owned. This data cannot be retrieved once deleted. This should only be used when a player ban has been issued or a player requests a data deletion.</p>
			<label for="playerDelete">Player Name<span class="required">*</span></label>
			<select id = "playerDelete" name="playerDelete">
			<!--list each Player from database-->
			{{#each players}}
			<option value="{{playerID}}">{{playerName}}</option>
			{{/each}}
			</select>
			<br/>
			<button onclick="deletePlayer()">Delete</button>
	</div>
	<div class="playersitems-delete">
		<h3 class="form-header">Remove an Item</h3>
		<table>
			<thead> 
				<th>Players</th> 
				<th>Items</th> 
			</thead>
			<tbody>
				{{#each players}}
				<tr>
					<td>{{playerName}}</td>
					<td>
						<select id = "playerItemDelete{{playerID}}" name="playerItemDelete{{playerID}}">
						{{#each items}}
						<option value="{{itemID}}">{{itemName}}</option>
						{{/each}}
						</select>
						<button onclick="deletePlayerItem({{playerID}})">Delete</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	<br/>
  </body>
</html>