<html>
    <head>
        <title>Play Game</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    </head>
        <body>

        <div class="smolDiv"></div>
            
        <table id="myTable">
          <tr class="header">
              <tr>
                <th>Player</th>
                <th>Location</th>
                <th>Items</th>
                <th>Quests</th>
              </tr>

    {{#each players}}
        <tr>
            <td>{{playerName}}</td>
            <td>{{locationName}}</td>
            <td>{{itemName}}</td>
            <td>{{questName}}</td>
            <td><a href="/playgame/{{playerID}}">Update</a></td>
        </tr>
    {{/each}}
            </table>
                    
        </body>
</html>