<html>
 
    <head>
    <title>Update</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        
    </head>
    <body>
<h1>Update {{player.playerName}}</h1>

<table id="myTable">
 <thead>
    <tr>
         <th>Current Location</th>
         <td>{{playerLocation.locationName}}</td>
         <td>
<form id="update-location" action="/playgame" method="post">
    Change Location: <select name="currentlocation" id="location-selector"> 
        {{#each locations}}
        <option value="{{locationID}}">{{locationName}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updatelocation({{player.playerID}})">Update</button>
  </td>
     </tr>
    <tr>
         <th>Current Quest</th>
         <td>{{playerQuest.questName}}</td>
         <td>
			Complete quest and add reward item to inventory
			</br>
			<button onclick="completequest({{player.playerID}})">Complete Quest</button>
         </td>
     </tr>
    <tr>
         <th>Items</th>
		 <td>
		 {{#each playerItems}}
         {{itemName}} </br>
		 {{/each}}
		 </td>
    </tr>
    <tr>
         <th>Add Quest</th>
                <td>


<form id="add-quest" action="/playgame/addquest" method="post">
    Add Quest: <select name="currentQuest" id="quest-selector"> 
    {{#each quests}}
      <option value = "{{questID}}">{{questName}}</option>
      {{/each}}
    </select><br>
</form>
<button onclick="addquest({{player.playerID}})">Update</button>
         </td>
     </tr>
    <tr>
         <th>Health</th>
         <td>{{player.playerHealth}}</td>
     </tr>
    <tr>
         <th>Magic</th>
         <td>{{player.playerMagic}}</td>
         
     </tr>
    <tr>
         <th>Strength</th>
         <td>{{player.strengthStat}}</td>
     </tr>
    <tr>
         <th>Intelligence</th>
         <td>{{player.intelligenceStat}}</td>
     </tr>
    <tr>
         <th>Defence</th>
         <td>{{player.defenceStat}}</td>
     </tr>
 </thead>
</table>
    </body>
</html>