<html>
 
    <head>
    <title>Update</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        
    </head>
    <body>
<h1>Update {{player.playerName}}</h1>

<table id="myTable">
 <thead>
    <tr>
         <th>Current Location</th>
         <td>{{player.locationName}}</td>
         <td><form id="update-location" action="/playgame" method="post">
  Change Location: <select name="change-location" id="location-selector">
    {{#each locations}}
      <option value = "{{locationID}}">{{locationName}}</option>
      {{/each}}
  </select>
  <button onclick="updatelocation({{player.playerID}})">Submit</button>
  <script defer>selection({{player.currentlocationID}});</script>

</form></td>
     </tr>
    <tr>
         <th>Current Quest</th>
         <td>{{player.questName}}</td>
                  <td>
              <form name="form1" id="form1" action="/action_page.php">
  Complete Quest: <select name="subject" id="subject">
      <option value = "{{player.questID}}">{{player.questName}}</option>
  </select>
  <input type="submit" value="Submit">
</form>
         </td>
     </tr>
    <tr>
         <th>Items</th>
         <td>{{player.itemName}}</td>
         <td>
              <form name="form1" id="form1" action="/action_page.php">
  Use Item: <select name="subject" id="subject">
      <option value = "{{player.itemID}}">{{player.itemName}}</option>
  </select>
  <input type="submit" value="Submit">
</form>
         </td>
     </tr>
    <tr>
         <th>Add Quest</th>
                <td>
              <form name="form1" id="form1" action="/action_page.php">
  Add Quest: <select name="subject" id="subject">
    {{#each quests}}
      <option value = "{{questID}}">{{questName}}</option>
      {{/each}}
  </select>
  <input type="submit" value="Submit">
</form>
         </td>
     </tr>
    <tr>
         <th>Health</th>
         <td>{{player.playerHealth}}</td>
     </tr>
    <tr>
         <th>Magic</th>
         <td>{{player.playerMagic}}</td>
         
     </tr>
    <tr>
         <th>Strength</th>
         <td>{{player.strengthStat}}</td>
     </tr>
    <tr>
         <th>Intelligence</th>
         <td>{{player.intelligenceStat}}</td>
     </tr>
    <tr>
         <th>Defence</th>
         <td>{{player.defenceStat}}</td>
     </tr>
 </thead>
</table>
    </body>
</html>